<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yttrium.mapper.MessageMapper">
	<resultMap id="BaseResultMap" type="com.yttrium.domain.Message">
		<id column="message_id" jdbcType="INTEGER" property="messageId" />
		<result column="message_title" jdbcType="VARCHAR" property="messageTitle" />
		<result column="message_time" jdbcType="TIMESTAMP" property="messageTime" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.yttrium.domain.Message">
		<result column="message_content" jdbcType="LONGVARCHAR"
			property="messageContent" />
	</resultMap>
	<sql id="Base_Column_List">
		message_id, message_title, message_time, user_id
	</sql>
	<sql id="Blob_Column_List">
		message_content
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from message
		where message_id = #{messageId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from message
		where message_id = #{messageId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yttrium.domain.Message">
		insert into message (message_id, message_title, message_time,
		user_id, message_content)
		values (#{messageId,jdbcType=INTEGER}, #{messageTitle,jdbcType=VARCHAR},
		#{messageTime,jdbcType=TIMESTAMP},
		#{userId,jdbcType=INTEGER}, #{messageContent,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yttrium.domain.Message">
		insert into message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="messageId != null">
				message_id,
			</if>
			<if test="messageTitle != null">
				message_title,
			</if>
			<if test="messageTime != null">
				message_time,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="messageContent != null">
				message_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="messageId != null">
				#{messageId,jdbcType=INTEGER},
			</if>
			<if test="messageTitle != null">
				#{messageTitle,jdbcType=VARCHAR},
			</if>
			<if test="messageTime != null">
				#{messageTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="messageContent != null">
				#{messageContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yttrium.domain.Message">
		update message
		<set>
			<if test="messageTitle != null">
				message_title = #{messageTitle,jdbcType=VARCHAR},
			</if>
			<if test="messageTime != null">
				message_time = #{messageTime,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="messageContent != null">
				message_content = #{messageContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where message_id = #{messageId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yttrium.domain.Message">
		update message
		set message_title = #{messageTitle,jdbcType=VARCHAR},
		message_time = #{messageTime,jdbcType=TIMESTAMP},
		user_id = #{userId,jdbcType=INTEGER},
		message_content = #{messageContent,jdbcType=LONGVARCHAR}
		where message_id = #{messageId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yttrium.domain.Message">
		update message
		set message_title = #{messageTitle,jdbcType=VARCHAR},
		message_time = #{messageTime,jdbcType=TIMESTAMP},
		user_id = #{userId,jdbcType=INTEGER}
		where message_id = #{messageId,jdbcType=INTEGER}
	</update>

	<select id="selectAll" resultMap="ResultMapWithBLOBs">
		select
		m.*,u.user_name
		from
		message m left join user u on m.user_id = u.user_id
	</select>
</mapper>