body {
    padding-bottom: 40px;
    background-color: #eee;
    
}
div[id="my"]{
    text-align:center
}

div[class="alert"]{
	padding-top: 70px;
    background-color: #eee; 
}
form{
    border: 0px solid gray;
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
}
form input,select,img,p[class="form-control-static"]{
    margin-top: 5px;

}
form label[class="radio-inline"]{
    margin-left: 25%;

    margin-top: 5px;
}
form label{
    margin-top: 5px;
}

form button,a[class="btn btn-lg btn-primary"]{
    width: 48%;
    position:relative;
    top:10px;
}


